@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
body {
    font-family: 'Muli', sans-serif;
    font-size: 14px;
    overflow: hidden;
    background-color: #dab097;
    background-image: linear-gradient(315deg, #dab097 0%, #f1c56c 74%);
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    margin: 100px;
    background-color: white;
    
}

.col-1, .col-2 {
   background-color: rgb(243, 236, 211);
   height: 70vh;
   width: 80vh;
   text-align: center;
   align-items: center;
   justify-content: center;
}


.input-holder {
    display: flex;
    align-items: center;
    padding: 20px;
    position: relative;
}

.form-holder {
    display: inline-block;
    text-align: center;
}

.col-1-header {
    display: inline-block;
    text-align: center;
    align-items: center;
    font-weight: bold;
    font-size: 40px;
    margin: auto;
    padding: 40px;
}

.button {
    background-color: #FFFFFF;
    border: 0;
    border-radius: .5rem;
    box-sizing: border-box;
    color: #111827;
    font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.25rem;
    padding: .75rem 1rem;
    text-align: center;
    text-decoration: none #D1D5DB solid;
    text-decoration-thickness: auto;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button:hover {
    background-color: rgb(249,250,251);
}

.button:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.button:focus-visible {
    box-shadow: none;
}


input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

select {
  width: auto;
  padding: 10px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=text], select {
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.25rem;
    text-decoration: none #D1D5DB solid;
    text-decoration-thickness: auto;
    border-radius: .5rem;
    font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

}

#value-input {
    gap: 5px;
}

.lbl {
    font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    display: inline-flex;
    align-items: center;
    gap: 2px;
    margin: 5px 0;
    cursor: pointer;
    font-size: 30px;
    text-weight: 900;
}

input[type=radio] {
    --s: 1em;     /* control the size */
    --c: black; /* the active color */
    height: var(--s);
    aspect-ratio: 1;
    border: calc(var(--s)/8) solid #939393;
    padding: calc(var(--s)/8);
    background:
        radial-gradient(farthest-side,var(--c) 94%,#0000)
        50%/0 0 no-repeat content-box;
    border-radius: 50%;
    outline-offset: calc(var(--s)/10);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    font-size: inherit;
    transition: .3s;
}
input[type=radio]:checked {
    border-color: var(--c);
    background-size: 100% 100%;
}

input[type=radio]:disabled {
    background:
        linear-gradient(#939393 0 0)
        50%/100% 20% no-repeat content-box;
    opacity: .5;
    cursor: not-allowed;
}

@media print {
    input[type=radio] {
        -webkit-appearance: auto;
        -moz-appearance: auto;
        appearance: auto;
        background: none;
    }
}

#radio-holder {
    font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    justify-content: space-between;
    font-weight: 700;
    font-size: 14px;
}


.img-div {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.img-div img {
    height: 40%;
    width: 40%;
    object-fit: contain;
    display: block;
}

.col-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-holder img {
    max-width: 40%;
}

.img-caption {
    font-style: italic;
}




