@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
body {
    font-family: 'Muli', sans-serif;
    font-size: 14px;
    overflow: hidden;
    background-color: #dab097;
    background-image: linear-gradient(315deg, #dab097 0%, #f1c56c 74%);
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    margin: 100px;
    background-color: white;
    
}

.col-1, .col-2 {
    background-color: #f3ecd3;
}

.input-holder {
    position: relative;
    margin-bottom: 25px
}

.form-holder {
    align-content: center;
}