@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
body {
    font-family: 'Muli', sans-serif;
    font-size: 14px;
    overflow: hidden;
    background-color: #dab097;
    background-image: linear-gradient(315deg, #dab097 0%, #f1c56c 74%);
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    margin: 100px;
    background-color: white;
    
}

.col-1, .col-2 {
   background-color: rgb(243, 236, 211);
   height: 70vh;
   width: 80vh;
   text-align: center;
   align-items: center;
   justify-content: center;
}


.input-holder {
    display: flex;
    align-items: center;
    padding: 20px;
    position: relative;
}

.form-holder {
    display: inline-block;
    text-align: center;
}

.col-1-header {
    display: inline-block;
    text-align: center;
    align-items: center;
    font-weight: bold;
    font-size: 40px;
    margin: auto;
    padding: 40px;
}

.button {
    background-color: #FFFFFF;
    border: 0;
    border-radius: .5rem;
    box-sizing: border-box;
    color: #111827;
    font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.25rem;
    padding: .75rem 1rem;
    text-align: center;
    text-decoration: none #D1D5DB solid;
    text-decoration-thickness: auto;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button:hover {
    background-color: rgb(249,250,251);
}

.button:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.button:focus-visible {
    box-shadow: none;
}
